
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
        hr { 
        height: 10px;
        border: 1;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
        } 
</style>

  <div class="container">
        <!--check id of object f <h1><#%= f.object.id %></h1>-->
      <div class="row"> 
        <div class="col-md-3">
            <div class="text-center">
                 <!-- SET ANOTHER PICTURE AVATAR-->
                <p hidden><%= @image=Image.where(user_id: @friend_user.id).last%></p>
              <br/>
                <% if @image != nil %>
                 
                    <%= image_tag @image.file , :class =>"avatar img-circle",:alt =>"avatar",:width =>"180",:height =>"180"%>
                <%else%>
                   	<%= image_tag(url_for("100.png"),:class =>"avatar img-circle",:alt =>"avatar",:width =>"180",:height =>"180") %>
                <%end%>
            </div>
        </div>
    
        <div class="col-md-9 personal-info">  
          <h2>Personal info</h2>
          <form class="form-horizontal" role="form">
              <!-- email-->
            <div class="form-group">
               <label class="col-lg-3 control-label">Email:</label>
               <div class="col-lg-8">
                <h3 class="user_infomation_text"><%= @friend_user.email%></h3>
               </div>
               <br/>
            </div>
             <!--name-->
            <div class="form-group">
               <label class="col-lg-3 control-label">Name:</label>
               <div class="col-lg-8">
                   <h3 class="user_infomation_text"><%= @friend_user.name%></h3>
               </div>
               <br/>
             </div>
            <!--Birthday-->
            <div class="form-group">
              <label class="col-lg-3 control-label">Birthday:</label>
              <div class="col-lg-8">
                   <h3 class="user_infomation_text"><%= @friend_user.birthday%></h3>
              </div>
              <br/>
            </div>
            <hr/>
         
          </form>
        </div>
      </div>
     
</div>