 <!-- Latest compiled and minified CSS -->
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
 <style>
        hr { 
        height: 10px;
        border: 1;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
        } 
    </style>

  <div class="container">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
        <!--check id of object f <h1><#%= f.object.id %></h1>-->
      <div class="row"> 
        <div class="col-md-3">
            <div class="text-center">
                 <!-- SET ANOTHER PICTURE AVATAR-->
                <p hidden><%= @image=Image.where(user_id: f.object.id).last%></p>
                <% if @image != nil %>
                    <%= image_tag @image.file , :class =>"avatar img-circle",:alt =>"avatar",:width =>"180",:height =>"180"%>
                    <br/><br/>
                   <%= link_to"Update picture",edit_image_path(@image), class: "btn btn-primary" %> 
                <%else%>
                    <img src="https://previews.123rf.com/images/stalkerstudent/stalkerstudent1601/stalkerstudent160101173/50961996-user-icon-vector-flat-design-style-eps-10.jpg" class="avatar img-circle" alt="avatar" width="100" height="100">
                    <br/><br/>
                    <%= link_to"Add a new picture",new_image_path, class: "btn btn-primary" %> 
                  
                <%end%>

            </div>
           
        
        </div>
        
        <div class="col-md-9 personal-info">  
          <!--<div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a> 
              <i class="fa fa-coffee"></i>
              This is an <strong>.alert</strong>. Use this to show important messages to the user.
          </div>-->
          <h3>Personal info</h3>
          <form class="form-horizontal" role="form">
              <!-- email-->
            <div class="form-group">
               <label class="col-lg-3 control-label">Email:</label>
               <div class="col-lg-8">
                 <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
               </div>
               <br/>
            </div>
             <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
             <% end %>
             
             <!--name-->
            <div class="form-group">
               <label class="col-lg-3 control-label">Name:</label>
               <div class="col-lg-8">
                    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
               </div>
               <br/>
             </div>
          
            <!--Birthday-->
            <div class="form-group">
              <label class="col-lg-3 control-label">Birthday:</label>
              <div class="col-lg-8">
                    <%= f.datetime_field :birthday, autofocus: true, autocomplete: "birthday" %>
              </div>
              <br/>
            </div>
            
            <hr/>
            <h3>Change password</h3>
            <!--Password-->
            <div class="form-group">
               <label class="col-lg-3 control-label">Password:</label>
               <div class="col-lg-8">
                 <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                  <% if @minimum_password_length %>
                    <br/> <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>
                <br/>
            </div>   
            <!-- Password confirm-->
            <div class="form-group">
               <label class="col-lg-3 control-label">Password confirmation:</label>
               <div class="col-lg-8">
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
               </div>
               <br/>
            </div>
            <!--Current Password-->
            <div class="form-group">
               <label class="col-lg-3 control-label">Current Password:</label>
               <div class="col-lg-8">
                <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off" %>
               </div>
               <br/>
            </div>    
            
            
            <!-- Comfirm Button-->
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <div class="actions">
                  <%= f.submit "Update",:class => 'btn btn-primary' %>
                </div>
                 <br/>
              </div>
            </div> 
            
          </form>
        </div>
      </div>
       
    <% end %>
  
  <div class="form-group">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-9">
      <hr/>
      </div>
  </div>
  
  
          <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                    <h3>Cancel my account Unhappy?
                   <%= button_to "Cancel my account", 
                   registration_path(resource_name), 
                   data: { confirm: "Are you sure?" }, 
                   method: :delete , class: "btn btn-primary"%> </h3>
                 <br/>
              </div>
            </div> 
       
         <%= link_to "Back", :back , class: "btn btn-primary"%>
        
</div>