 <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<<<<<<< HEAD
  <div class="field">

    <%= f.label :id %><br />
    <%= f.number_field :id, autofocus: true, autocomplete: "id" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
=======
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        hr { 
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
        } 
    </style>
>>>>>>> interface mypage and profile

  <div class="container">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="row"> 
        <div class="col-md-3">
            <div class="text-center">
              
              <img src="https://res.cloudinary.com/demo/image/upload/w_100,h_100,c_thumb,g_face,r_20,d_avatar.png/non_existing_id.png" class="avatar img-circle" alt="avatar" width="100" height="100">
              <h6>Upload a different photo...</h6>
              
              <input type="file" class="form-control">
            </div>
        </div>
        
        <div class="col-md-9 personal-info">  
          <!--<div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a> 
              <i class="fa fa-coffee"></i>
              This is an <strong>.alert</strong>. Use this to show important messages to the user.
          </div>-->
          <h3>Personal info</h3>
          <form class="form-horizontal" role="form">
           <!-- 
             <div class="field">
            <#%= f.label :email %><br />
            <#%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          
            <div class="field">
              <#%= f.label :password_confirmation %><br />
              <#%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
        
            <div class="field">
              <#%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <#%= f.password_field :current_password, autocomplete: "off" %>
            </div>
          
           -->
            <div class="form-group">
               <label class="col-lg-3 control-label">Email:</label>
               <div class="col-lg-8">
                 <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
               </div>
               <br/>
            </div>
             <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
             <% end %>
             <hr/>
            
            <h3>Change password</h3>
            <div class="form-group">
               <label class="col-lg-3 control-label">Password:</label>
               <div class="col-lg-8">
                 <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>
                <br/>
            </div>   
            
            <div class="form-group">
               <label class="col-lg-3 control-label">Password confirmation:</label>
               <div class="col-lg-8">
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
               </div>
               <br/>
              
            </div>
            
            <div class="form-group">
               <label class="col-lg-3 control-label">Current Password:</label>
               <div class="col-lg-8">
                <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off" %>
               </div>
               <br/>
            </div>    
            
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <div class="actions">
                  <%= f.submit "Update",:class => 'btn btn-primary' %>
                </div>
                 <br/>
              </div>
            </div> 
          </form>
        </div>
      </div>
       
    <% end %>
  
  <div class="form-group">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-9">
      <hr/>
      </div>
  </div>
 
           
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                    <h3>Cancel my account</h3>
                   <p>Unhappy? 
                   <%= button_to "Cancel my account", 
                   registration_path(resource_name), 
                   data: { confirm: "Are you sure?" }, 
                   method: :delete %></p>
                 <br/>
              </div>
            </div> 
  <%= link_to "Back", :back %>
</div>

<<<<<<< HEAD
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  
    <div class="field">
    <%= f.label :birthday %><br />
    <%= f.datetime_field :birthday, autofocus: true, autocomplete: "birthday" %>
  </div>

  <div class="field">
    <%= f.label :photo %><br />
    <%= f.text_field :photo, autofocus: true, autocomplete: "photo" %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
=======
>>>>>>> interface mypage and profile
