<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>
<div class="container edit-user-page">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= devise_error_messages! %>
    <!--check id of object f <h1><#%= f.object.id %></h1>-->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="text-center">
          <!-- SET ANOTHER PICTURE AVATAR-->
          <p hidden><%= @image = Image.where(user_id: f.object.id).last %></p>
          <% if @image != nil %>
            <%= image_tag @image.file, :class => "avatar img-circle", :alt => "avatar", :width => "180", :height => "180" %>
            <br/><br/>
            <%= link_to "Update picture", edit_image_path(@image), class: "btn btn-outline-dark" %>
          <% else %>
            <img src="https://previews.123rf.com/images/stalkerstudent/stalkerstudent1601/stalkerstudent160101173/50961996-user-icon-vector-flat-design-style-eps-10.jpg" class="avatar img-circle" alt="avatar" width="100" height="100">
            <br/><br/>
            <%= link_to "Add a new picture", new_image_path, class: "btn btn-outline-dark" %>

          <% end %>

        </div>


      </div>

      <div class="col-md-6 personal-info">
        <form class="form-horizontal" role="form">
          <!-- email-->
          <div class="form-group">
            <label class="control-label">Email:</label>
            <div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>
            <br/>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <!--name-->
          <div class="form-group">
            <label class="control-label">Name:</label>
            <div>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
            </div>
            <br/>
          </div>

          <!--Birthday-->
          <div class="form-group">
            <label class="control-label">Birthday:</label>
            <div>
              <%= f.datetime_field :birthday, autofocus: true, autocomplete: "birthday", class: 'form-control' %>
            </div>
            <br/>
          </div>

          <hr/>
          <h3>Change password</h3>
          <!--Password-->
          <div class="form-group">
            <label class="control-label">Password:</label>
            <div>
              <i>(leave blank if you don't want to change it)</i><br/>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              <% if @minimum_password_length %>
                <br/> <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
            <br/>
          </div>
          <!-- Password confirm-->
          <div class="form-group">
            <label class="control-label">Password confirmation:</label>
            <div>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
            <br/>
          </div>
          <!--Current Password-->
          <div class="form-group">
            <label class="control-label">Current Password:</label>
            <div>
              <i>(we need your current password to confirm your changes)</i><br/>
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            </div>
            <br/>
          </div>
          <!-- Comfirm Button-->
            <div class="actions">
              <%= f.submit "Update", :class => 'btn btn-dark form-control' %>
              <%= button_to "Cancel Account",
                            registration_path(resource_name),
                            data: {confirm: "Are you sure?"},
                            method: :delete, class: "btn btn-danger", id: 'cancel-account-btn' %>
            </div>
            <br/>
        </form>
      </div>
    </div>

  <% end %>
</div>