<!DOCTYPE html>
<html>
  <head>
  	<title>Sign up</title>
  </head>
  
  <body>
    <div class="loginbg">
      <div class="login-page" style="width: 600px;">
      	<div class="form" style="max-width: 400px; margin-left: 6%;">
          <h1 style="text-align: center; margin-bottom: 40px;">Sign up</h1>
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="in-form">  
              <%= f.label :name %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    
          
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off" %>
    
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
          
              <%= f.label :birthday %>
              <%= f.datetime_field :birthday, autofocus: true, autocomplete: "birthday" %>
            </div>
            <br>
            <div class="loginbtn">
              <%= f.submit "Sign up" %>
            </div>
          <% end %>
            <div style="text-align: center; font-size: 18px;">
            <%= render "devise/shared/links" %>
            </div>
      
      	</div>
      </div>
    </div>
  </body>
</html>