<%= form_for(@review_food) do |f| %>
  <% if @review_food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review_food.errors.count, "error") %> prohibited this review_food from being saved:</h2>

      <ul>
      <% @review_food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :review_id %><br>
    <%= f.number_field :review_id %>
  </div>
  <div class="field">
    <%= f.label :food_id %><br>
    <%= f.number_field :food_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
