<div class="login-page" style="width: 700px; margin-left: 10%;">
	<div class="form" style="max-width: 600px;">
    <h1 style="text-align: center; margin-bottom: 40px;">Forgot your password?</h1>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>
    <div style="text-align: center; font-size: 16px;">
      <%= render "devise/shared/links" %>
    </div>
	</div>
</div>