<div class="mypage">
  <div class="row">
    <% @follower_users.each do |follower| %>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <div style="margin-bottom: 10px;">
              <% if avatar_url(follower)=="https://previews.123rf.com/images/stalkerstudent/stalkerstudent1601/stalkerstudent160101173/50961996-user-icon-vector-flat-design-style-eps-10.jpg" %>
                                    <% if follower.photo==nil %>
                                        <%= image_tag(avatar_url(follower), id: 'follow-avatar') %>
                                    <% else %>
                                        <%= image_tag(follower.photo, id: 'follow-avatar') %>
                                    <% end %>
                                <% else %>
                                    <%= image_tag(avatar_url(follower), id: 'follow-avatar') %>
                                <% end %>
                                </div>
              <div style="margin-bottom: 30px">
              <%= render 'follow_form', follower: follower %>
               <%=link_to 'Visit',my_friend_pages_path(:id => follower.id),:class => "btn btn-outline-dark"%>
              </div>
            </div>
          </div>
          <div class="col-md-4 personal-info">
            <form class="form-horizontal" role="form">
              <!-- email-->
              <div class="form-group">
                <label class="control-label">Email</label>
                <div>
                  <h3 class="user_infomation_text"><%= follower.email %></h3>
                </div>
              </div>
              <!--name-->
              <div class="form-group">
                <label class="control-label">Name</label>
                <div>
                  <h3 class="user_infomation_text"><%= follower.name %></h3>
                </div>
              </div>

              <!--Birthday-->
              <div class="form-group">
                <label class="control-label">Birthday</label>
                <div>
                  <h3 class="user_infomation_text"><%= follower.birthday %></h3>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>