<div class="container">
  <!--check id of object f <h1><#%= f.object.id %></h1>-->
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <%= image_tag avatar_url(current_user), id: 'mypage-user-avatar' %>
      </div>
    </div>

    <div class="col-md-4 personal-info">
      <form class="form-horizontal" role="form">
        <!-- email-->
        <div class="form-group">
          <label class="control-label">Email</label>
          <div>
            <h3 class="user_infomation_text"><%= current_user.email %></h3>
          </div>
        </div>
        <!--name-->
        <div class="form-group">
          <label class="control-label">Name</label>
          <div>
            <h3 class="user_infomation_text"><%= current_user.name %></h3>
          </div>
        </div>

        <!--Birthday-->
        <div class="form-group">
          <label class="control-label">Birthday</label>
          <div>
            <h3 class="user_infomation_text"><%= current_user.birthday %></h3>
          </div>
        </div>
      </form>

      <%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-outline-dark', id: 'edit-user-info' %>
    </div>
  </div>
</div>