 <!DOCTYPE html>
<html>
<head>
<title>home</title>
  <style>
    .image {
			width: 100%;
			height: 150px;
		}
		hr{
		  width: 80%;
		}
  </style>
</head>
<body>
  <div class="container">
    <%@reviews.each do |r| %>
    <br>
    		<div class="row">
  			<div class="col-3" style="font-size: 22px; text-align: center;">
  				<img src="https://images.foody.vn/res/g16/150120/prof/s576x330/foody-mobile-12-jpg-361-636169868619281225.jpg" alt="Banh mi chao" class="image">
  			  <a href="#"><%= r.restaurant.name %></a>
  			</div>
  			<div class="col-9">
  				<p style="font-size: 26px;"><strong><%=r.title %></strong></p>
  				<a href="" style="margin-left: 10px; font-size: 20px;"><%=current_user.name %></a><br>
  				<p style="font-size: 22px; max-height: 86px; overflow: hidden;"><%=r.description %></p>
  				<div class="container">
  					<div class="row" style="font-size: 20px;">
  						<div class="col-2">
  							<i class="fa fa-thumbs-up"></i>
  							<span style="color: grey"><%= r.likes.count %></span>
  						</div>
  						<div class="col-2">
  							<i class="fa fa-comment"></i>
  							<span style="color: grey"><%= r.comments.count %></span>
  						</div>
  						<div class="col-4">
  						  <% r.score.times do %>
  							<span class="fa fa-star checked"></span>
  							<% end %>
  							<% (5-r.score).times do %>
  							<span class="fa fa-star"></span>
  							<% end %>
  						</div>
  						<div class="col-3 text-right">
  							<a href="#seemore"> See more >> </a>
  						</div>
  
  					</div>
  				</div>
  			</div>
  		</div>
  		<br><hr>
    <% end %>
  </div>
</body>
</html>