<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description %>
  </div>
  <div class="field">
    <%= f.label :food_id %><br>
    <%= f.select(:food_id) do %>
      <% @foods.each do |food| -%>
        <%= content_tag(:option, food.name, value: food.id) %>
      <% end %>
    <% end %>  
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.select(:restaurant_id) do %>
      <% @restaurants.each do |restaurant| -%>
        <%= content_tag(:option, restaurant.name, value: restaurant.id) %>
      <% end %>
    <% end %>   
    </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.hidden_field :score, id: :score_rating %>
    <div id='star-rating'></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<script>
$('#star-rating').raty({
score: <%= @review.score != nil ? @review.score : 0  %>,
path: '/assets/',
click: function(score, e) {
$("#score_rating").val(score)
}
});
</script>