<br>
<div class="row review-item">
  <div class="col-3" style="font-size: 22px; text-align: center;">
    <%= image_tag(r.restaurant.photo, class: "image") %>
    <a class="review-restaurant" href="<%= restaurant_path(r.restaurant) %>"><%= r.restaurant.name %></a>
  </div>
  <div class="col-9">
    <div class="review-title"><%= r.title %></div>
    <a class="review-user" href="">
      <i class="fas fa-user"></i>
      <%= r.user.name %>
    </a>
    <p class="review-description"><%= truncate(r.description, length: 250, separator: ' ') %></p>
    <div>
      <div class="review-like">
        <i class="fa fa-thumbs-up"></i>
        <span style="color: grey"><%= r.likes.count %></span>
      </div>
      <div class="review-comment">
        <i class="fa fa-comment"></i>
        <span style="color: grey"><%= r.comments.count %></span>
      </div>
      <div class="review-star">
        <% if r.score==nil %>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <% else %>
        <% r.score.times do %>
          <span class="fa fa-star checked"></span>
        <% end %>
        <% (5 - r.score).times do %>
          <span class="fa fa-star"></span>
        <% end %>
        <% end %>
      </div>
      <div class="review-see-more">
        <%= link_to edit_review_path(r), class: 'btn btn-success' do %>
          <i class="fa fa-edit"></i>
        <% end %>
        <%= link_to review_path(r), method: :delete, class: 'btn btn-danger', 'data-confirm': 'Are you sure?' do %>
          <i class="fa fa-trash-alt"></i>
        <% end %>
        <a href="<%= review_path(r) %>" class="btn btn-dark">
          <i class="fa fa-eye"></i>
        </a>
      </div>
    </div>
  </div>
</div>