<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Description:</strong>
  <%== @review.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Food:</strong><br>
  <% @review.foods.each do |food| %>
  <%= food.name %><br>
  <% end %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @review.restaurant.name %>
</p>

<p>
  <strong>Score:</strong>
  <div id="score"></div>
</p>

<p style="padding-left:5px">
<%= link_to 'Edit',edit_review_path(@review) %> |
<%= link_to 'Back',reviews_path %>
</p>
<style>
h3 {
    font-family:verdana
    }
.
</style>

<h3>コメントフォーム</h3>
<%= form_for(@comment) do |f| %> <div class= "field">
<%= f.label :comment %><br>
<%= f.text_field :description %>
<%= f.hidden_field :review_id, :value => @review.id %>
</div>
<div class="actions">
<%= f.submit %> </div>
<% end %>

<br>
<h3>コメント一覧</h3>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<% @review.comments.each do |comment|%>
 <div class="col-md-10 col-sm-10">
  <div class="panel panel-default arrow left">
   <div class="panel-body">
    <header class="text-left"></header>
    <img src="../../assets/images/gourmet_website.png" style="float:left;width:75px;height:75px;padding-right:10px"/>
    <strong><%= comment.user %></strong>
    <p><%= comment.description %></p>
    <p style="padding-left:75px;color:gray;"><%= comment.created_at %></p>
    </div>
  </div>
 </div>
<% end %>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>

<script>
  $("#score").raty({
    path: "/assets/",
    readonly: true,
    score: <%= @review.score %>
  });
</script>