<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

</head>
<body>
<!--NAVBAR-->
<nav class="navbar navbar-webmaster">
    <div class="container">
    	<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			
			</button>
			<a class="navbar-brand" href="#">バナサム</a>
		</div>
	
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li class="active"><h4 style="font-size:12.5px;color:white"><br/>Hello,<%=current_user.name%></h4><span class="sr-only">(current)</span></li>
					<li class="dropdown">
						 <p hidden><%= @image=Image.where(user_id: current_user.id).last%></p>
                		<% if @image != nil %>
                   				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= image_tag @image.file , :class =>"avatar img-circle",:alt =>"avatar",:width =>"22",:height =>"22"%> 
                   				<span class="caret"></span>
                   				</a>
               			 <%else%>
                 			  	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                 			  		 <img src="https://previews.123rf.com/images/stalkerstudent/stalkerstudent1601/stalkerstudent160101173/50961996-user-icon-vector-flat-design-style-eps-10.jpg" class="avatar img-circle" alt="avatar" width="22" height="22">
                				<span class="caret"></span>
                   				</a>
                		<%end%>
					
						<ul class="dropdown-menu" role="menu">
							<li><%=link_to "My Page", mypages_path%></li>
							<li><%= link_to "Sign out",destroy_user_session_path, method: :delete %></li>
							<li><a href="#">...</a></li>
						</ul>
					</li>
					<li class="active"><%=link_to "Home",root_path%><span class="sr-only">(current)</span></li>
				<%else%>
					<li class="active"><h1 style="font-size:12.5px;color:white">Do you have an account?</h1><span class="sr-only">(current)</span></li>
					<li class="active"><%=link_to "Sign in",new_user_session_path%><span class="sr-only">(current)</span></li>
					<li class="active"><%=link_to "Sign up",new_user_registration_path%><span class="sr-only">(current)</span></li>
				<%end%>
					
			</ul>
			
			<form class="navbar-form navbar-right search-form" role="search">
				<input type="text" class="form-control" placeholder="Search" />
			</form>
		</div>
	</div>
</nav>

<%= yield %>


</body>
</html>
